amulet-core==1.9.25
amulet-leveldb==1.0.2
amulet-map-editor==0.10.35
amulet-nbt==2.1.3
annotated-types==0.7.0
anyio==4.4.0
assemblyai==0.32.0
beautifulsoup4==4.12.3
blinker==1.9.0
bs4==0.0.2
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.3.2
click==8.1.7
cryptography==43.0.3
et-xmlfile==1.1.0
Flask==3.1.0
fuzzywuzzy==0.18.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
lxml==5.3.0
lz4==4.3.3
MarkupSafe==3.0.2
msal==1.30.0
mutf8==1.0.6
numpy==1.26.4
openpyxl==3.1.3
packaging==24.1
platformdirs==3.11.0
portalocker==2.10.1
prompt_toolkit==3.0.50
puzpy==0.2.6
pycparser==2.22
pydantic==2.8.2
pydantic_core==2.20.1
PyJWT==2.8.0
PyMCTranslate==1.2.27
PyMySQL==1.1.1
PyOpenGL==3.1.7
pytesseract==0.3.13
python-dateutil==2.9.0.post0
python-docx==1.1.2
pytz==2024.1
rapidfuzz==3.9.6
requests==2.31.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.6
tk==0.1.0
tqdm==4.67.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.1
wcwidth==0.2.13
websockets==12.0
