{% extends 'base.html' %}
{% block title %}{{ 'Answer the Quest, Squire' }}{% endblock %}

{% block content %}

    <h1>🤔 Which is it, Squire?</h1>
    <table width=450><tr><td>{{ question.text }}</td></tr></table>
    <div id="question-container">
      <form action="/check_MC_question_enemy" method="POST">
        {% for letter, text in question["options"].items() %}
          <label><input type="radio" name="answer" value="{{ letter }}"> {{ letter }}) {{ text }}</label><br>
        {% endfor %}
        <input type="hidden" name="question_id" value="{{ question['id'] }}">
        <input type="hidden" name="question_type" value="multiple_choice">
        <button type="submit">Submit</button>
      </form>
    </div>

{% endblock %}
