<!DOCTYPE html>
<html>
<head>
    <title>Game Over</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-style.css') }}">

</head>
<body>
    <h1>🏛️ The Trial is Over!</h1>
    <p>See you next time, Squire.</p>
    <a href="/">Start Again</a>
    <footer style="margin-top: 2em; font-size: 0.9em; color: #666;">
      <p>
        <a href="{{ url_for('terms') }}">Privacy & Terms of Use</a> |
        <a href="{{ url_for('getting_started') }}">Getting Started</a> |
        <a href="{{ url_for('logout') }}">Log Out</a> |
        © 2025, Tim Faith <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-SA 4.0</a> |
        ver 0.3.1
      </p>
    </footer>

</body>
</html>
