<!DOCTYPE html>
<html>
<head>
    <title>Lawyer's Quest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-style.css') }}">


</head>
<body>
    <h1>⚔️ Welcome, Squire!</h1>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert alert-warning">
          {{ messages[0] }}
          {% if request.args.get("resend_ready") %}
          <form action="/resend-verification" method="post">
            <input type="hidden" name="uuid" value="{{ request.args.get('uuid') }}">
            <button type="submit" class="btn btn-sm btn-primary mt-2">
              Resend Verification Email
            </button>
          </form>
        {% endif %}


        </div>
      {% endif %}
    {% endwith %}


    <form action="/login" method="POST">
        <label>Enter your Squire ID:</label>
        <input type="text" name="squire_id" required>
        <button type="submit">Start</button>
    </form>
    <footer style="margin-top: 2em; font-size: 0.9em; color: #666;">
      <p>
        <a href="{{ url_for('register_squire')}}">Register</a> |
        <a href="{{ url_for('terms') }}">Privacy & Terms of Use</a> |
        <a href="{{ url_for('getting_started') }}">Getting Started</a> |
        <a href="https://youtu.be/DTIb4VuoziA">Video Walkthrough</a> |
        <a href="{{ url_for('logout') }}">Log Out</a> |
        © 2025, Tim Faith <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-SA 4.0</a> |
        ver 0.3
      </p>
    </footer>
</body>
</html>
