<!DOCTYPE html>
<html>
<head>
    <title>Level Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-style.css') }}">

</head>
<body>
  <div style="text-align:center; padding: 40px;">
      <h1>🎉 Congratulations!</h1>
      <p>You’ve reached <strong>Level {{ level }}</strong>!</p>
      <p>Solving riddles, defeating enemies, and opening treasure chests will increase your experience points.
        Leveling up will improve your chances at defeating enemies in fights, and helps you to travel on the map
        without having to eat as much food. Well done, Squire!
      <img src="{{ url_for('static', filename='static/level_up.png') }}" alt="Level Up!" style="max-width:300px;">
      <br><br>
      <a href="{{ url_for('map_view') }}">
          <button>Continue Your Quest</button>
      </a>
  </div>

    <footer style="margin-top: 2em; font-size: 0.9em; color: #666;">
      <p>
        <a href="{{ url_for('terms') }}">Privacy & Terms of Use</a> |
        <a href="{{ url_for('getting_started') }}">Getting Started</a> |
        <a href="{{ url_for('logout') }}">Log Out</a> |
        © 2025, Tim Faith <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-SA 4.0</a> |
        {{ app_version }}
      </p>
    </footer>

</body>
</html>
