<!DOCTYPE html>
<html>
<head>
    <title>Registration</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-style.css') }}">

</head>
<body>
    <h1>Registration</h1>

    <table>
      <tr>
        <td>

          <form method="POST" action="{{ url_for('register_squire') }}">
            <label for="squire_name">Squire Name:</label>
            <input type="text" name="squire_name" required><br>

            <label for="real_name">Your Real Name:</label>
            <input type="text" name="real_name" required><br>

            <label for="email">Email:</label>
            <input type="email" name="email" required><br>

            <label for="team_id">Choose Your Team:</label>
            <select name="team_id" id="team_id" required>
              <option value="" disabled selected>Select a team</option>
              {% for team in teams %}
                <option value="{{ team.id }}">{{ team.team_name }}</option>
              {% endfor %}
            </select>
        </td>
        <td>

      <!-- Google reCAPTCHA v2 widget -->
      <div class="captcha-wrapper">
        <div class="g-recaptcha" data-sitekey="6Lc8eh0rAAAAAJvBfj7nFI_9zpersbTZ0X5U0Odw"></div>
      </div>
      <button type="submit">Register</button>
    </td>
  </tr>
    </form>
</table>

<script src="https://www.google.com/recaptcha/api.js" async defer></script>

    <footer style="margin-top: 2em; font-size: 0.9em; color: #666;">
      <p>
        <a href="{{ url_for('terms') }}">Privacy & Terms of Use</a> |
        <a href="{{ url_for('getting_started') }}">Getting Started</a> |
        © 2025, Tim Faith <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-SA 4.0</a> |
        ver 0.3
      </p>
    </footer>
</body>
</html>
