<!-- templates/travel.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Travel</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='game-style.css') }}">
</head>
<body>
    <h1>Choose Your Direction</h1>
    <p>{{ map|safe }}</p> <!-- Render the map -->

    <form action="/travel" method="POST">
        <button type="submit" name="direction" value="N">⬆️ North</button>
        <button type="submit" name="direction" value="S">⬇️ South</button>
        <button type="submit" name="direction" value="E">➡️ East</button>
        <button type="submit" name="direction" value="W">⬅️ West</button>
    </form>

    <br>
    <a href="{{ url_for('game') }}">Return to Game</a>

    <footer style="margin-top: 2em; font-size: 0.9em; color: #666;">
      <p>
        <a href="{{ url_for('terms') }}">Privacy & Terms of Use</a> |
        <a href="{{ url_for('getting_started') }}">Getting Started</a> |
        <a href="{{ url_for('logout') }}">Log Out</a> |
        © 2025, Tim Faith <a href="https://creativecommons.org/licenses/by-sa/4.0/?ref=chooser-v1" target="_blank">CC BY-SA 4.0</a> |
        {{ app_version }}
      </p>
    </footer>
</body>
</html>
